@font-face {
  font-family: "Asap";
  src: url("./assets/fonts/asap/asap.ttf") format("truetype");
  font-weight: 100 900; // od 100 (nejtenčí) do 900 (nejtlustější)
  font-style: italic oblique 0deg 10deg; // od 0 do 10 stupňů sklonu
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./assets/fonts/roboto_mono/roboto_mono.ttf") format("truetype");
  font-weight: 100 900; // od 100 (nejtenčí) do 900 (nejtlustější)
  font-style: oblique 0deg 10deg; // od 0 do 10 stupňů sklonu
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply cursor-default;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  min-height: 100vh;
  background-image: url("./bg.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 4rem;
}

// fade - vue-router transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// @media screen and (min-width: 768px) {
//   :root {
//     padding-top: 0;
//     // padding-bottom: 2rem;
//     align-items: center;
//     justify-content: center;
//   }
// }
// @media screen and (min-width: 1024px) {
//   :root {
//     font-size: 22px; /* Zvětšíme písmo pouze pro obrazovky větší nebo rovno 1024px */
//   }
// }
// @media screen and (min-width: 1280px) {
//   :root {
//     font-size: 24px; /* Zvětšíme písmo pouze pro obrazovky větší nebo rovno 1280px */
//   }
// }
// @media screen and (min-width: 1536px) {
//   :root {
//     font-size: 26px; /* Zvětšíme písmo pouze pro obrazovky větší nebo rovno 1536px */
//   }
// }

@layer components {
  /*** Utils ***/
  .rd {
    @apply border border-red-500;
  }
  .center {
    @apply flex items-center justify-center;
  }

  .trans {
    @apply transition duration-200 ease-in-out;
  }

  .trans-slow {
    @apply transition duration-500 ease-in-out;
  }

  input,
  select {
    @apply trans;
    color: black;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    transition: all 0.2s ease-in-out;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(132, 0, 255, 0.932);
    }

    &[type="number"] {
      font-size: 0.8rem;
    }
  }

  label,
  option {
    @apply cursor-default;
  }

  a,
  button,
  select {
    @apply cursor-pointer;
  }

  input[type="number"] {
    @apply cursor-text;
  }

  .font-asap {
    font-family: "Asap", sans-serif;
    font-weight: 600;
  }

  .font-roboto {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
  }

  /*** App ***/

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply cursor-default;
  }

  .icon {
    @apply cursor-pointer;
  }
}
